* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  color: #fff;
  font-size: 1em;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(15deg, #97dff4 0%, #38a9cb 100%);
}

main {
  width: 60%;
  max-width: 1080px;
  padding: 40px 0;
  margin: 0 auto;
}